<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>はてなブログコードハイライトジェネレータ</title>
    <style>
      .entry-content {
      }
      pre.code {
      }
      .synComment {
      }
      .synConstant {
      }
      .synIdentifier {
      }
      .synPreProc {
      }
      .synSpecial {
      }
      .synStatement {
      }
      .synType {
      }
    </style>
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
  </head>
  <body>
    <!-- vue app -->
    <div id="app" class="container" v-cloak>
      <div class="row">
        <div class="col s12">
          <div class="entry-content hlhb-card">
            <div class="card-content" style="position: relative;">
              <div class="hlhb-lang-select">
                <label>ファイルタイプ</label>
                <select v-model="selectedLang" class="browser-default">
                  <option v-for="lang in langs" :value="lang">{{
                    lang
                  }}</option>
                </select>
              </div>
              <div class="hlhb-theme-select">
                <label>カラーテーマ</label>
                <select v-model="selectedTheme" class="browser-default">
                  <option v-for="theme in themes" :value="theme">{{
                    theme
                  }}</option>
                </select>
              </div>
              <pre class="code" v-html="srcHtml"></pre>
            </div>
          </div>
        </div>
        <div class="col s8">
          <ul class="collection">
            <li
              v-for="setting, i in colorSettings"
              :class="{'collection-item': true, 'hlhb-color-setting': true, 'hlhb-selected': visibleColorPicker===i+1}"
              @click="visibleColorPicker=i+1"
            >
              <span
                class="badge hlhb-color-view"
                :style="{backgroundColor: setting.hex}"
              ></span>
              <span class="badge hlhb-color-hex">{{ setting.hex }}</span>
              <b>{{ setting.name }}</b
              >&nbsp;<span class="badge hlhb-color-hex">{{
                setting.prop
              }}</span>
            </li>
          </ul>
        </div>
        <div class="col s4">
          <div style="margin-top: 20px;">
            <color-picker
              v-if="visibleColorPicker===1"
              v-model="colorSetting.preCodeBgcolor"
              class="m0auto"
            ></color-picker>
            <color-picker
              v-else-if="visibleColorPicker===2"
              v-model="colorSetting.preCodeColor"
              class="m0auto"
            ></color-picker>
            <color-picker
              v-else-if="visibleColorPicker===3"
              v-model="colorSetting.synCommentColor"
              class="m0auto"
            ></color-picker>
            <color-picker
              v-else-if="visibleColorPicker===4"
              v-model="colorSetting.synConstantColor"
              class="m0auto"
            ></color-picker>
            <color-picker
              v-else-if="visibleColorPicker===5"
              v-model="colorSetting.synIdentifierColor"
              class="m0auto"
            ></color-picker>
            <color-picker
              v-else-if="visibleColorPicker===6"
              v-model="colorSetting.synPreProcColor"
              class="m0auto"
            ></color-picker>
            <color-picker
              v-else-if="visibleColorPicker===7"
              v-model="colorSetting.synSpecialColor"
              class="m0auto"
            ></color-picker>
            <color-picker
              v-else-if="visibleColorPicker===8"
              v-model="colorSetting.synStatementColor"
              class="m0auto"
            ></color-picker>
            <color-picker
              v-else-if="visibleColorPicker===9"
              v-model="colorSetting.synTypeColor"
              class="m0auto"
            ></color-picker>

            <div class="center-align" style="margin-top: 40px;">
              <a
                @click="showModal"
                class="waves-effect waves-light btn modal-trigger center-align light-blue"
                href="#"
                >CSSを表示する</a
              >
            </div>
          </div>
        </div>
        <modals-container>
          <div>aaa</div>
        </modals-container>
        <!-- <modal v-if="showModal" @close="showModal = false">
          
          <div slot="body">
            <p>こちらをデザインCSSに設定してください。</p>
            <blockquote>
              <textarea
                id="cssForHighlight"
                class="hlhb-css-textarea"
                spellcheck="false"
                readonly
                >{{ cssForHighlight }}</textarea
              >
            </blockquote>
          </div>
          <div slot="footer">
            <a
              @click="copyCSS"
              href="#!"
              class="waves-effect waves-green btn-flat"
              >{{ copied ? "コピーしました" : "コピーする" }}</a
            >
            <a
              @click="showModal=false"
              href="#!"
              class="waves-effect waves-green btn-flat"
              >close</a
            >
          </div>
        </modal> -->
      </div>
    </div>
    <!-- vue app -->

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.8/dist/vue.js"></script>
    <script
      type="text/javascript"
      src="./src/index.js"
      charset="utf-8"
    ></script>
  </body>
</html>
